.department-container {
  padding: 20px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-section {
  margin-bottom: 20px;
  mat-form-field {
    width: 100%;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

.table-container {
  position: relative;
  min-height: 200px;
  overflow: auto;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-column-actions {
  width: 120px;
  text-align: center;
}

.no-data-message {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.54);
} 