.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-content {
  min-width: 400px;
  max-width: 600px;
  padding-top: 10px;
}

@media (max-width: 599px) {
  mat-dialog-content {
    min-width: 250px;
  }
} 